body {
	padding-top: 68px;
}

@media screen and (max-width: 760px) {
	body {
		padding-top: 95px;
		font-size: 15px;
	}
}

@media screen and (max-width: 680px) {
	body {
		padding-top: 95px;
		font-size: 12px;
	}
}

@media screen and (max-width: 505px) {
	body {
		padding-top: 95px;
		font-size: 9px;
	}
}

.message {
	display: flex;
	margin: 1rem 0;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.right .mess {
	background-color: #0048b4;
	color: #fff;
}

.mess {
	box-shadow: -10px 81px 280px 36px rgba(0,0,0,0.1);
	border-radius: 7px 7px 7px 0px;
	max-width: 60%;
	padding: 0.4rem 0.8rem;
}

.mess img {
	margin: -0.5rem -0.9rem;
	border-radius: 7px;
	height: 13rem;
	width: 13rem;
}

.shadow {
	-webkit-box-shadow: 34px 24px 7px 4px rgba(0,0,0,0.24);
	-moz-box-shadow: 34px 24px 7px 4px rgba(0,0,0,0.24);
	box-shadow: 34px 24px 7px 4px rgba(0,0,0,0.24);
}

.btn-ok {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 6rem 0 3rem 0;
}